version: "3.9"
# api [python]
services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    env_file: .env
    ports:
      - "${APP_PORT}:8000"
    volumes:
      - app-logs:/var/log
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  mongo:
    image: mongo:6        
    restart: unless-stopped
    env_file: .env         
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-init-scripts:/docker-entrypoint-initdb.d:ro
    secrets:
      - mongo_root_password
      - mongo_root_username

  redis:
    image: redis:7         
    restart: unless-stopped
    env_file: .env
    command: ["redis-server", "--requirepass", "$$REDIS_PASSWORD"]  
    ports:
      - "6379:6379"
    secrets:
      - redis_password

volumes:
  mongo-data:
  redis-data:
  app-logs:

